* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
}

ul {
  display: flex;
}

li {
  list-style: none;
  margin: 10px;
  position: relative;
}
a {
  text-decoration: none;
  color: #000;
}

.logo {
  width: 10%;
}

.navbar {
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.nav-right {
  display: flex;
}

.dropdown {
  position: absolute;
}

.dropdown ul {
  display: flex;
  flex-direction: column;
}
