* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  height: 120px;
  align-items: center;
}

ul {
  display: flex;
}

li {
  list-style: none;
  margin: 0 10px;
  position: relative;
}
a {
  text-decoration: none;
  color: #000;
}

.wrapper {
  max-width: 1300px;
  margin: auto;
}

.logo {
  width: 10%;
}

.navbar {
  position: relative;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-right {
  display: flex;
  align-items: center;
}

.btnGet {
  background-color: #d2007e;
  border-radius: 30px;
  padding: 15px 20px;
  color: #fff;
}

.btnGet:hover {
  cursor: pointer;
}

.hamburgerOpen {
  width: 90%;
  display: none;
}

.navbar .dropdown {
  position: absolute;
  border: 1px solid #000;
  background-color: #fff;
}

.dropdown ul {
  display: flex;
  flex-direction: column;
}

.dropdown li {
  padding: 10px;
}

.hamburgerMenu {
  position: absolute;
  /* height: 100vh;
  width: 100vw;
  background-color: #fff; */
  top: 120px;
  display: none;
}

.hamburgerMenu .dropdown {
  position: relative;
}

.hamburgerMenu ul {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

@media screen and (max-width: 1080px) {
  .navbar {
    display: none;
  }

  .hamburgerOpen {
    display: flex;
    justify-content: flex-end;
  }

  .visible {
    display: block;
  }
}
